

	/* your style begins here */

body{
	padding: 10px;
	background: #f6f6f6;
}


#defaultCanvas0{
	margin-top: 30px;
    margin-left: 30%;
   /* float: right;*/
}



.leftcontent{
	display: inline-block;
	margin-left: 20px;
	float: right;
}
.work{
	margin-top: 10px;
}

.pic{

	padding: 10px;

}


/*header*/

@media (min-width:1099px){
    header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        min-height: 100%;
        padding: 0 0 0 50px;
        background: #ffffff; 
        float: left;
        overflow: hidden;
        z-index: 9999;
    }

    header .logo{
        margin-top: 100px;
    }

    header nav ul{
        display: block;
        overflow: hidden;
        margin-top: 100px;
        list-style: none;
    }

    header nav ul li{
        display: block;
        margin-bottom: 30px;
    }

    header nav ul li a{
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 1px;
    }

    header nav ul li a:hover,
    header nav ul li a.selected{
        color: #969595;
    }

    header .rights p{
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 300px;
    }

    header .rights a{
        font-family: "raleway-bold", arial;
        font-weight: bold;
        text-decoration: none;
    }
    #menu_icon,
    .close_menu{
        display: none;
    }

}

#menu_icon,
.close_menu{
    float: right;
    margin-right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../img/men_icons.png') no-repeat;
}

#menu_icon{    
    background-position: 0 0;
}
.close_menu{
    background-position: -41px 0!important;
}



